.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.images {
    margin-top: 10px;
}


/* .section-border{
    border-style: solid;
} */

.blocktext270 {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 270px;
}

.blocktext120 {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 120px;
}

.button {
    background-color: gray;
    color: white
}

.carousel-caption {
    position: absolute;
    top: 350px
 }



body {
    background-image: url(assets/backgrounds/white-wood-vertical-texture.png);
    font-family:'Source+Sans+Pro', sans-serif;
    }

